<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>

<body>
    <%- include('navbar', {links: links}) %>
        <ul>
            <% users.forEach((user)=> { %>
                <%- include('user', {user: user}); %>
                    <% }); %>
        </ul>
        <%= message %>
            <%- include('footer') %>
</body>

</html>