body {
  color: red;
}

.post-header {
}

.post-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-user .icon {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
}
.post-footer {
  display: flex;
  gap: 2em;
}

.share {
  position: relative;
}

.share .popup {
  position: absolute;
  top: -100%;
}
